

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

<div class="container">
      <div class="h1">
        <div class="alert alert-warning" role="alert">
          <b>노드설정</b>
        </div>
      </div>
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="{%url 'makeGridMap' %}">그리드생성(Create)</a>
        <a class="list-group-item list-group-item-action" href="{%url 'selectMap' %}">그리드확인(Select)</a>
        <a class="list-group-item list-group-item-action" href="{%url 'jpsSearch' %}">알고리즘(A*)</a>
        <a class="list-group-item list-group-item-action" href="#">알고리즘(DBSCAN)</a>
      </div>
    </div>
